<div class="d-none" id="idExtrato">
    <section>
        <div class="row">
            <div class="col-md-7">
                <h2 class="header-title mt-5">
                    Extrato de Negociações
                </h2>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-3 mt-5 mr-5">
                    <div class="form-group">
                        <label class="col-form-label-xl">Cpf ou Cnpj</label>
                        <input type="text" id="idCpfCnpjExtrato" name="txtNomeProd" place title="preencha o seu cpf ou cnpj">
                    </div>
                </div>
                <div class="col-md-3 mt-1">
                    <div class="form-group">
                        <label class="col-form-label-xl">Data do Extrato</label>
                        <input type="date" title="Informe a Data do Extrato" name="DataExtrato" class="form-control form-control-xl" id="idDataExtrato">
                    </div>
                </div>
                <div class="col-md-1 mt-5 pt-5">
                    <div class="col-md-1 align-self-end">
                        <a href="#" class="style-button" style="padding: 6px 33px !important;background-color: #000!important;color:#fff!important;" onclick="Buscar()">Buscar</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid table-overflow">
                    <table id="tbExtrato" class="x-table x-table--buy w-100" aria-describedby="titleScreen" style="margin-top: 55px!important;">
                        <thead>
                            <tr class="x-table-light">
                                <th class="x-table__title">NºNota</th>
                                <th class="x-table__title">CpfCnpj</th>
                                <th class="x-table__title">Ativo</th>
                                <th class="x-table__title">Produto</th>
                                <th class="x-table__title">Negociacao</th>
                                <th class="x-table__title">Operação</th>
                                <th class="x-table__title">Titulo</th>
                                <th class="x-table__title">Quantidade</th>
                                <th class="x-table__title">Preco</th>
                                <th class="x-table__title">Valor Operação</th>
                                <th class="x-table__title">Data</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>