<div class="d-none" id="idGestaoProdutos">
    <section>
        <div class="row">
            <div class="col-md-7">
                <h2 class="header-title mt-5">
                    Gestão de Produtos
                </h2>
            </div>
            <div class="col-md-5 mt-5">
                <a href="@Url.Action("CadastrarEditarProduto", "GestaoProdutos")" id="adicionarProdutos" class="style-button" title="Adicionar Novo Produtos">Adicionar Novo Produto</a>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-3 mt-4">
                    <div class="form-group">
                        <label class="col-form-label-xl">Nome do produto</label>
                        <input type="text" id="idNomeProduto" name="txtNomeProduto" place title="preencha o nome do produto">
                    </div>
                </div>
                <div class="col-md-1 mt-5 pt-5">
                    <div class="col-md-1 align-self-end">
                        <a href="#" class="style-button" style="padding: 6px 33px !important;background-color: #000!important;color:#fff!important;" onclick="BuscarListaProduto()">Buscar</a>
                    </div>
                </div>
                <div class="col-md-5 mt-5 pt-4">
                    <div class="col-md-3 align-self-end">
                        <button type="button" class="style-button" style="padding: 6px 33px !important;background-color: #fff!important;color:#000!important;width: 231%!important;display: block;margin-top: 7%;" id="idEnviarEmail" onclick=" EnviarEmail()">Enviar email vencimento</button>
                    </div>
                </div>
                <div class="col-md-1 mt-5 pt-4" style="margin-left: -252px;">
                    <div class="col-md-1 align-self-end">
                        <div id="c-loader" class="c-loader d-none"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid table-overflow">
                    <table id="tbProdutos" class="x-table x-table--buy w-100" aria-describedby="titleScreen" style="margin-top: 55px!important;">
                        <thead>
                            <tr class="x-table-light">
                                <th class="x-table__title">IdProduto</th>
                                <th class="x-table__title">Ativo</th>
                                <th class="x-table__title">Produto</th>
                                <th class="x-table__title">Titulo</th>
                                <th class="x-table__title">Negociacao</th>
                                <th class="x-table__title">Quantidade</th>
                                <th class="x-table__title">Preco</th>
                                <th class="x-table__title">Email Adm</th>
                                <th class="x-table__title">Atualização</th>
                                <th class="x-table__title">Vencimento</th>
                                <th class="x-table__title">Editar/Excluir</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
<partial name="~/Views/Shared/_Modal.cshtml" />